* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-attachment: fixed;
}
:root {
	--index: calc(1vw + 1vh);
	--gutter: 30px;
	--side-small: 26;
	--side-big: 36;
	--depth: 4000px;
	--transition: .75s cubic-bezier(.075, .5, 0, 1)
}

/* Скрываем Scrollbar */
body {
	scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar { 
	display: none; /* Safari and Chrome */
}

@font-face {
	font-family: raleway_c;
	src: url(../fonts/GothamProBold/GothamPro-Bold.eot);
	font-weight: 300;
}
@font-face {
	font-family: raleway_c;
	src: url(../fonts/GothamProLight/GothamPro-Light.eot);
	font-weight: 100;
}
body {
	background-color:;
	color: #fff;
	font-size: calc(var(--index) * .8);
	font-family: raleway_c, sans-serif;
	line-height: 1.75;
	height: var(--depth);
	font-weight: 300;
}
.container {
	width: 100%;
	height: 100%;
	position: fixed;
	perspective: 1500px;
}
.gallery {
	transform-style: preserve-3d;
	height: 100%;
}
.frame {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--transition), opacity .75s ease;
	will-change: transform;
	transform-style: preserve-3d;
	color: white;
}
h1, h2, h3, h4 {
	font-weight: 100;
	text-transform: uppercase;
	width: min-content;
	line-height: 1;
}
.frame h2 {
	text-align: center;
	font-size: calc(var(--index) * 3.3);
}
.frame-media {
	position: relative;
	width: calc(var(--index) * var(--side-small));
	height: calc(var(--index) * var(--side-big));
	background-position: center;
	background-size: cover;
}
.frame-media_left {
	right: calc(var(--side-small) / 2 * var(--index) + var(--gutter));
}
.frame-media_right {
	left: calc(var(--side-small) / 2 * var(--index) + var(--gutter));
}

.frame-media_centre {
	centre: calc(var(--side-small) / 1.3 * var(--index) + var(--gutter));
	width: 1152px ;
	height:  2048px;
	right: 2%;

}
.frame_bg {
	background-color: rgba(253, 252, 255, 0);
}
video.frame-media {
	width: calc(var(--index) * var(--side-big));
	height: calc(var(--index) * var(--side-small));
}
video.frame-media_right {
	left: calc(var(--side-big) / 2 * var(--index) + var(--gutter));
}
video.frame-media_left {
	right: calc(var(--side-big) / 2 * var(--index) + var(--gutter));
}
.text-right > * {
	position: relative;
	left: 25vw;
}
.text-left > * {
	position: relative;
	right: 18vw;
}
.frame h3 {
	font-size: calc(var(--index) * 3);
}
.frame p {
	max-width: 30vw;
	margin-top: 3vh;
}
.star	{
font-size: 36px;
}
h2 {	
	color: white;
}
.button {
position: fixed;
bottom: 5vh;
left: -10vh;
cursor: pointer;
}
.frame-media_rightc {
	left: 65vh;
}
.frame-media_leftmars 
{
	right: 40vh;
}
.frame-media_rightvenus
{
	left: 45vh;
}
.frame-media_rightearth 
{
	left: 40vh;
}
.frame-media_leftmer 
{
	right: 30vh;
}
.offical {
	position: fixed;
	right: 25vh;
	bottom: -1vh;
	left: 175vh;
	width: calc(var(--index) * 2);
	height: calc(var(--index) * 2) ;
}